annotated-types==0.5.0
anyio==3.7.1
blinker==1.6.2
build==0.10.0
certifi==2023.5.7
click==8.1.5
colorama==0.4.6
coverage==7.2.7
dnspython==2.4.0
email-validator==2.0.0.post2
fastapi==0.100.0
Flask==2.3.2
-e git+ssh://git@github.com/joseph7576/python-playground.git@82907243eed85ee49e3579ea1ebf360b184d2c60#egg=flaskr&subdirectory=flask-toturial
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
orjson==3.9.2
packaging==23.1
pluggy==1.2.0
pydantic==2.0.3
pydantic-extra-types==2.0.0
pydantic-settings==2.0.2
pydantic_core==2.3.0
Pygments==2.15.1
pyproject_hooks==1.0.0
pytest==7.4.0
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
rich==13.4.2
shellingham==1.4.0
sniffio==1.3.0
starlette==0.27.0
typer==0.7.0
typer-cli==0.0.13
typing_extensions==4.7.1
ujson==5.8.0
uvicorn==0.23.1
uvloop==0.17.0
watchfiles==0.19.0
websockets==11.0.3
Werkzeug==2.3.6
